@model Sistema_de_Tienda.Models.Pago

@{
    ViewData["Title"] = "Generar pago";
}
<h1 class="text-center mb-4">Generar Pago</h1>
<div class="card shadow-lg p-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="IdPedido" class="control-label">Nº de Pedido</label>
                    <select asp-for="IdPedido" class="form-control" asp-items="ViewBag.IdPedido"></select>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="IdCliente" class="control-label">Cliente</label>
                    <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="MetodoPago" class="control-label">Método de Pago</label>
                    <input asp-for="MetodoPago" class="form-control" />
                    <span asp-validation-for="MetodoPago" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <input type="submit" value="Generar" class="btn btn-primary mr-2" />
                <a asp-action="Index" class="btn btn-danger">Regresar a la lista</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

