@model Sistema_de_Tienda.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Crear</h1>
<h4 class="text-center">Cliente</h4>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-10">
        <div class="card shadow p-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="Nombre"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="Correo"></label>
                        <input asp-for="Correo" class="form-control" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="Contrasena"></label>
                        <input asp-for="Contrasena" class="form-control" type="password" />
                        <span asp-validation-for="Contrasena" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="DireccionPrincipal"></label>
                            <input asp-for="DireccionPrincipal" class="form-control" />
                            <span asp-validation-for="DireccionPrincipal" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="Dui"></label>
                            <input asp-for="Dui" class="form-control" />
                            <span asp-validation-for="Dui" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="Telefono"></label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                </div>
                <div class="row">
                        <div class="form-group col-5">
                            <label asp-for="FechaNacimiento"></label>
                            <input asp-for="FechaNacimiento" class="form-control" type="date" />
                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                            </div>
                        <div class="form-group col-4">
                            <label asp-for="Role" class="control-label"></label>
                            <select asp-for="Role" class="form-control">
                                <option value="">SELECCIONAR</option>
                            <option value="CLIENTE">CLIENTE</option>
                                @if(User.Identity.IsAuthenticated){

                                <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                                <option value="GERENTE">GERENTE</option>
                                }
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                </div>
                <div class="row">
                    <div class="text-right mt-3">
                        <button type="submit" class="btn btn-sm btn-outline-success me-2">Crear</button>
                        <a asp-action="Index" class="btn btn-sm btn-outline-danger me-2">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
