@model Sistema_de_Tienda.Models.Pedido

@{
    ViewData["Title"] = "Crear Pedido";
}

<h1 class="text-center mb-4">Crear Pedido</h1>
<div class="card shadow-lg p-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="IdCliente" class="control-label">Cliente</label>
                    <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Total" class="control-label">Total</label>
                    <input asp-for="Total" class="form-control" />
                    <span asp-validation-for="Total" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center">
                <input type="submit" value="Crear" class="btn btn-primary mr-2" />
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
