@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a a Nuestra tienda Virtual</h1>
    <p>Esta sera nuestra pagina informativa temporal.</p>
</div>
