<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tienda virtual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sistema_de_Tienda.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    <link href="~/css/_layout2.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="navbar-brand-container">
                        <a class="navbar-brand ms-3" asp-area="" asp-controller="Home" asp-action="Index">Tienda Virtual</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var nombre = User.FindFirst("Nombre")?.Value;
                            <span class="client-name">@nombre</span>
                        }
                    </div>
                </div>
            </nav>
        </header>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menú</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">

                     @if (User.Identity.IsAuthenticated)
                    {
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="CerrarSession">
                                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                            </a>
                         </li>
                    }
                    else
                    {
                         <li class="nav-item">
                        <a class="btn btn-outline-info" asp-area="" asp-controller="Cliente" asp-action="Login">
                            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                        </a>
                         </li>

                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i> Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <i class="fas fa-user-secret"></i> Privacidad
                        </a>
                    </li>

                
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tienda" asp-action="Index">
                                <i class="fas fa-store"></i> Tienda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Catalogo">
                                <i class="fas fa-store"></i> Catalogo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pedido" asp-action="Index">
                                <i class="fas fa-store"></i> Pedidos
                            </a>
                        </li>
                        @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("GERENTE"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index">
                                <i class="fas fa-box"></i> Productos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">
                                <i class="fas fa-tags"></i> Categorías
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pagos" asp-action="Index">
                                <i class="fas fa-credit-card"></i> Pago
                            </a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">
                                    <i class="fas fa-users"></i> Clientes
                                </a>
                            </li>
                        }
                    }
                </ul>
                <div class="offcanvas-footer">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="CerrarSession">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-outline-info" asp-area="" asp-controller="Cliente" asp-action="Login">
                            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                        </a>
                    }
                </div>
            </div>
        </div>

        <div class="container content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted mt-auto">
            <div class="container">
                &copy; 2025 - Sistema_de_Tienda - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

